# ---------------------
# Global (applies to all directories)
# ---------------------
*.log
*.env
*.DS_Store
*.swp
*.swo
Thumbs.db
.vscode/
.idea/

# ---------------------
# Go (Gin Backend)
# ---------------------
/backend/bin/
/backend/coverage.out
/backend/*.test
/backend/.env
/backend/pkg/
/backend/vendor/
/backend/*.exe
/backend/*.dll
/backend/*.so
/backend/*.dylib

# Go build artifacts
/backend/*.out
/backend/backend

# ---------------------
# Svelte (Frontend)
/frontend/node_modules/
/frontend/.svelte-kit/
/frontend/public/build/
/frontend/.env
/frontend/.vite/

# Build artifacts
/frontend/dist/

# ---------------------
# Docker
docker-compose.override.yml
*.local.yml

# Docker volumes and containers
volumes/
tmp/
*.pid
backups/

# ---------------------
# PostgreSQL (dev)
/db-data/
*.pgsql
*.dump
*.db

# ---------------------
# Temporary files 
uploads/
/backend/templates


.gocache/
*.pyc
vm/
*.qcow2
*.state

.cache/

GEMINI.md
AGENTS.md
