version: '3.8'
services:
  db:
    image: postgres:16
    restart: always
    env_file:
      - ../.env
    environment:
      POSTGRES_USER: "${DB_USER:-codedu_user}"
      POSTGRES_PASSWORD: "${DB_PASSWORD:-supersecret}"
      POSTGRES_DB: "${DB_NAME:-codedu_db}"
    ports:
      - "${DB_HOST_PORT:-48812}:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
