@import "tailwindcss";
@plugin "daisyui";
.markdown, .editor-preview, .editor-preview-side {
  line-height: 1.5;
}
.markdown h1, .editor-preview h1, .editor-preview-side h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.5rem 0;
}
.markdown h2, .editor-preview h2, .editor-preview-side h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0.5rem 0;
}
.markdown ul, .editor-preview ul, .editor-preview-side ul {
  list-style: disc;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}
.markdown ol, .editor-preview ol, .editor-preview-side ol {
  list-style: decimal;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}
.markdown pre, .editor-preview pre, .editor-preview-side pre {
  background: #f5f5f5;
  padding: 0.5rem;
  overflow-x: auto;
}
.markdown code, .editor-preview code, .editor-preview-side code {
  background: #f5f5f5;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}

/* Hide the top navbar when a markdown editor is in fullscreen */
body.hide-navbar .navbar {
  display: none;
}
